@import "{{ site.theme }}";

/* Custom Dark Mode */
body {
  background-color: #121212;
  color: #e0e0e0;
}

a {
  color: #8ab4f8;
}

.site-header {
  background-color: #1c1c1c;
}

.site-footer {
  background-color: #1c1c1c;
  color: #ffffff;
}
